---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body { 
	font-family: 'Open Sans', sans-serif;
}

@media (max-width: 768px) {
	iframe {
		max-width: 100%; 
		width: 100%;
		height: 100%;
	}
}
